<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752004964896-m7fo7etu7lk0loj8l0gmlh2avjamp664.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752004964896-m7fo7etu7lk0loj8l0gmlh2avjamp664</string>
	<key>API_KEY</key>
	<string>AIzaSyDqE5Yg2Dfjxr9uTj-OxSzHkxeVlbLOA_o</string>
	<key>GCM_SENDER_ID</key>
	<string>752004964896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-Hiroaki-Hirabayashi.Swift5-Like-Heart</string>
	<key>PROJECT_ID</key>
	<string>swift5-like-and-heart</string>
	<key>STORAGE_BUCKET</key>
	<string>swift5-like-and-heart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752004964896:ios:0fc47b7625e2c1d398d245</string>
	<key>DATABASE_URL</key>
	<string>https://swift5-like-and-heart.firebaseio.com</string>
</dict>
</plist>